@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 30px 30px 10px 30px;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to right top, #ff3aaa, #e23fb7, #c147c1, #9c4dc6, #7152c7, #944ec3, #b149bb, #ca44b2, #ff4889, #ff7857, #ffb422, #ebee23);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contianer {
    display: grid;
    grid-gap: 20px;
}

/* nav-menu */

.nav-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    grid-gap: 20px;
    text-align: center;
}

.nav-menu a {
    background-color: #ffc600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding: 10px 0;
    text-align: center;
}

/* content */
.content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "taco-img taco-img price1"
        "taco-img taco-img price2"
    ;
}

.taco-img {
    grid-area: taco-img;
    background-image: url('https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
    min-height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.taco-img__text {
    background-color: #ffc600;
    padding: 10px;
    margin-left: 10px;
}


.price1 {
    grid-area: price1;
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price2 {
    grid-area: price2;
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price__number {
    font-size: 77px;
    font-weight: 100;
}

.price1, .price2 p{
    font-size: 20px;
}

/* boxes */
.boxes {
    display: grid;
    grid-template-columns: repeat(auto, fit minmax(100px, 1fr));
    grid-gap: 20px;
    grid-template-areas: 
        " taco-box food-box drink-box dessert-box "
    ;
}

.taco-box {
    grid-area: taco-box;
    background-color: #fff;
    text-align: center;
}

.food-box {
    grid-area: food-box;
    background-color: #fff;
    text-align: center;
}

.drink-box {
    grid-area: drink-box;
    background-color: #fff;
    text-align: center;
}

.dessert-box {
    grid-area: dessert-box;
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.box__img {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.boxes__title {
    margin: 0;
    padding: 0;
    margin: 10px;
}

.box__text {
    margin: 0;
    padding: 0;
    width: 80%;
    margin: auto;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}


/* ads */
.ads {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: #fff;
    align-items: center;
    padding: 2rem;
}

.ads-text h3 {
    margin: 0;
    font-size: 32px;
}

.ads-text p {
    margin: 20px 0;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em black, 0 0 0.2em black;
}

.ads-text a {
    text-decoration: none;
    background-color: #ffc600;
    padding: 8px 12px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

/* gallery */
.gallery {
    text-align: center;
}

.gallery-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    text-align: center;
}

.gallery-imgs img {
    width: 300px;
    height: 300px;
}

/* footer */
.footer {
    text-align: center;
}

.footer p {
    font-size: 20px;
}

@media (max-width: 768px) {

    /* nav-menu */

    .nav-menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
        grid-gap: 20px;
        text-align: center;
        grid-template-areas: 
            "a1 a2"
            "a3 a4"
            "a5 ."
        ;
    }

    .nav-menu a {
        background-color: #ffc600;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        padding: 10px 0;
        text-align: center;
    }

    .a1 {
        grid-area: a1;
    }

    .a2 {
        grid-area: a2;
    }

    .a3 {
        grid-area: a3;
    }

    .a4 {
        grid-area: a4;
    }

    .a5 {
        grid-area: a5;
    }

    /* /nav-menu */
}